@import "../../../services/variables.scss";

.navTemporaire {
  background-color: #4f4e4e;
  border-radius: 15px;
  width: 95%;
  height: 60%;
  margin-top: 18px;
  margin-left: 9px;
  display: flex;
  align-items: center;

  ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
    }

    a {
      align-items: center;
      display: flex;
      flex-direction: column;
      color: white;
      text-decoration: none;
    }

    img {
      display: grid;
      width: fit-content;
      align-items: center;
    }
  }
}
