/* ==============  SIZES ELEMENTS ================*/

/* Global */
$height-title-sections: 5%;

/* =================   COLORS  ===================*/
$backgroundColor : #4F4E4E;

/* ===============  FONTS FAMILY =================*/
$font-knewave: "Knewave", cursive;
$font-jadli: "Jaldi", sans-serif;

/* ================  FONTS SIZE ==================*/

/* Sizes */
 h1 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-family: $font-knewave;
    margin: 0;
  }
  
  h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin: 0;
    padding:0;
  }
  
  h3 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
  }
  
  h4 {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  
  h5 {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  }
  
  h6 {
    font-size: clamp(0.6rem, 1vw, 1rem);
  }
  
  p {
    font-size: clamp(1rem, 2vw, 1.4rem);
  }

  span{
    font-size: clamp(0.8rem, 1vw, 1.2rem);
  }

  h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding:0;
  }

  