@import "../../../services/variables.scss";

.inputComponent {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  padding: 5px;
  border: none;
}

.btnSend {
  background: transparent;
  border: none;

  img {
    height: 30px;
  }
}
