.profil__description {
  height: 75%;
  background-color: white;
  position: relative;
  border-radius: 10px;

  .profil-pic {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    height: 40%;
    aspect-ratio: 1/1;
    width: auto;
    border-radius: 50%;
    // background-color: red;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.profil {
  display: flex;
  flex-direction: column;

  &__nom {
    height: 40%;
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: flex-end;

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: black;

      h2 {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      span {
        box-sizing: border-box;
        padding-left: 1rem;
      }
    }
  }

  &__infos {
    height: 60%;
    width: 100%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__competences {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
