@import "./services/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #222426;
  height: 100%;
}

#root {
  box-sizing: border-box;
  // padding: 1rem;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: $font-jadli;
  color: white;

  @media (min-width: 700px) {
    padding: 0;
    gap: 10vh;
  }
}

/* ============= CONTENU =========== */

/* HEADER */
.wrap-header {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  padding: 0.2rem;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  // background-color: white;
}

/* CONTENT */
.wrap-content {
  height: 80%;
  box-sizing: border-box;
  padding: 1rem;
  //   background-color: $backgroundColor;

  @media (min-width: 700px) {
    margin: auto;
    width: 100%;
    aspect-ratio: 350/400;
    max-width: 700px;
  }
}

/* NAV */
.wrap-nav {
  background-color: #222426;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
}
