@import "./services/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #222426;
  height: 100%;
}

#root{
    box-sizing: border-box;
    padding: 1rem;
    height:100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    font-family: $font-jadli;
    color: white;
}

/* ============= CONTENU =========== */

/* HEADER */
.wrap-header{
    height:10%;
    width:100%;
    // background-color: white;
}

/* CONTENT */
.wrap-content{
    height:80% ;
    background-color: grey;
}

/* NAV */
.wrap-nav {
  background-color: #222426;
  height: 12%;
}
