
.conversations{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #43A2CA;
    border-radius: 10px;
    overflow: scroll;

    h2{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

}

