@import "../../services/variables.scss";

.ia{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
    height:100%;

    &__title{
        box-sizing: border-box;
        margin:1rem;
        display:flex;
        justify-content: center;
 
    }

    &__discuss{
       
        background-color: yellow;
    }

    &__message{
        display:flex;
        width:100%;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        gap:1rem;
        padding: 1rem;
        // background-color: yellow;

        img{
            height:30px;
        }

    }
}