@import "../../services/variables.scss";

.meet {
  height: 100%;
  background-color: #0868ac;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;


  &__title {
    height: 10%;
  }
}

.swipe {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  align-items: center;
  gap:5px;

  &__imgSwipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding:10px;

    .wrap-img {
     
      // width:150px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 3px solid white;
      // background-color: white;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
      img {
        object-fit: contain;
        border-radius: 50%;
        height: 100%;
      }
    }
    
  }

  // &__arrows {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   width: 100%;
  //   display: flex;
  //   transform: translateY(-50%);
  //   justify-content: space-between;
  //   // background-color: white;

  //   button {
  //     background: transparent;
  //     border: none;
  //   }
  // }

  &__contentSwipe {
    // flex: 1;
    width: 100%;
    // background-color: purple;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
    padding: 0.8rem;
    height:75%;
  }
}

.content {
  &__descr,
  &__skills {
    h6 {
      text-align: center;
    }
  }

  &__descr {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__text {
      height: 100%;
      width: 100%;
      background-color: white;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: scroll;
      color: black;
    }
  }

  &__skills {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__text {
      height: 22%;
      width: 100%;
      background-color: white;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: black;
      display: flex;

      .skill-column {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
      }

      .skill-column span:last-child {
        font-size: 20px;
      }
    }
  }
}



.wrap-imgSend{

  position:relative;
  height:20%;
  max-height:50px;
  display:flex;
  align-items: center;
  

  .wrap-imgPlusDinspi{
    aspect-ratio:1/1;
  height:50px;
  width:50px;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  position:relative;
  background-color: #094977;

  img{
    height:60%;
  }
}


.swipe-arrows{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;

  .wrap-imgPlusDinspi {
    aspect-ratio: 1/1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    background-color: #094977;

    img {
      height: 60%;
    }
  }

  .swipe-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    transform: translateY(-50%);
    justify-content: space-between;
    // background-color: white;

    button {
      background: transparent;
      border: none;
    }
  }
}
}


.swipe-unloaded{
  height:100%;
  

  .wrap-img{
    height:60%;
  }
}

.swipe-loaded{
  animation: animProfil 2s ease-in-out;
  height: 20%;

  .wrap-img{
    height:40%;
  }
}

@keyframes animProfil{
  from{
    height:20%;
  }

  to{height:20%}
}
