@import "../../services/variables.scss";

<<<<<<< HEAD

.profil{
    display:flex;
    flex-direction: column;
    gap:1rem;
    height:100%;
    box-sizing: border-box;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.169);
=======
.profil {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-between;
>>>>>>> dev

    &__title{
        height: $height-title-sections;
        // background-color: white;
    }



    &__description{
        height: 70%;
        background-color: white;
        position:relative;

        .profil-pic{
            position: absolute;
            top:-20%;
            left: 50%;
            transform: translateX(-50%);
            height: 40%;
            aspect-ratio: 1/1;
            width:auto;
            border-radius: 50%;
            background-color: red;
        }


    }
<<<<<<< HEAD
}
=======
}
>>>>>>> dev
