@import "../../services/variables.scss";

.radarTitle {
  height: $height-title-sections;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #7bccc4;
  padding: 10px;
  .mapTitle {
  }

  .mapLogoImg {
    height: 100%;
  }
}

.radarSearch {
  height: $height-title-sections;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #7bccc4;
  padding: 10px;

  .searchLogoImg {
  }

  .searchEntry {
    height: 30px;
    background-color: #073d48;
    border-radius: 8px;
    padding: 0px 20px;
  }

  .searchButton {
    height: 30px;
    background-color: #073d48;
    border-radius: 8px;
    padding: 0px 20px;
    border: none;
    color: white;
  }
}

.map-container {
  height: 100%;
  width: 100%;

  .tileLayer {
  }

  .mapFilter {
    height: 10%;
    width: 100%;
  }
}
