@import "../../services/variables.scss";

.map-container {
  height: 100%;
  width: 100%;
}

// // .radar{
// //   display:flex;
// //   flex-direction: column;
// //   gap:1rem;
// //   height:100%;
// //   box-sizing: border-box;
// //   padding: 1rem;

// //   &__title{
// //     height: $height-title-sections;
// //     background-color: white;
// //     display: flex;
// //     flex-direction: row;
// //     align-items: center;
// //     justify-content: flex-start;
// //     gap: 10px;

// //     .mapLogoImg {
// //         height: 100%;
// //     }

// //     .mapTitle {
// //         color: black;
// //     }
// //     }

// //   &__search{
// //     height:7%;
// //     background-color: white;

// //   }

// //   &__map{
// //     height:50%;
// //     width: 100%;
// //     background-color: red;

// //   }

// //   &__filters{
// //     height:38%;
// //     background-color: white;

// //   }
// }
