@import "../../services/variables.scss";

.register-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  border-radius: 12px;

  .register-title{
    background-color: $backgroundColor;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 12px;
  }
  .register-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $backgroundColor;
    margin: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    .register-input {
      width: 70vw;
      height: 3vh;
      border-radius: 5px;
      border: none;
    }
    .link-register{
      color: #fff;
    }

    .register-submit{
      cursor: pointer;
    }
  }
}