@import "../../services/variables.scss";

.marquee {
  position: relative;
  width: 100%;
  background: linear-gradient(
    90deg,
    #e88b00 -0.64%,
    rgba(73, 120, 190, 0.99) 100%
  );
  color: white;
  padding: 2% 0;
  font-size: 1.5vh;
  text-transform: uppercase;
  overflow: hidden;
}
.marquee_inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee_part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 2%;
}

.spacer {
  height: 1vh;
}
.arrow {
  width: 2vw;
  height: 2vh;
  margin: 0 3%;
  transform: rotate(-90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  fill: white;
}
.arrow.active {
  transform: rotate(90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
